<div app_id="<%= source.interface.id %>" class="full-size" style="position: relative">
    <% let rootGO = source.interface.getRootGameObject(source); %>
    <%- rootGO.interface.render(rootGO) %>
</div>